	<div class="panel panel-primary main-panel" id="user-p">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<span class="title pull-left">用户管理</span>
					<div class="form-inline pull-right" id="filter-p">
						<input class="form-control" type="text" name="name" id="name" placeholder="用户名"/>
						<button id="query-bt" type='button' class='btn btn-success'>查询</button>
						<button id="create-bt" type='button' class='btn btn-success'>新增</button>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body" style="min-height: 120px;"><div class="container-fluid"></div></div>
	</div>
