<form id="timeLimit_content_form" style="margin-left: auto; margin-bottom: 0px;" class="form-horizontal">
	<fieldset>
	<legend>各个超时配置，单位皆为秒</legend>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="saveLeft">保存</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="saveLeft" id="saveLeft" placeholder="保存的限制，单位秒" autocomplete="off" value="<%= saveLeft %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="map2LocalLeft">映射本地产品</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="map2LocalLeft" id="map2LocalLeft" placeholder="映射本地产品" autocomplete="off" value="<%= map2LocalLeft %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="map2ChannelLeft">映射渠道产品</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="map2ChannelLeft" id="map2ChannelLeft" placeholder="映射渠道产品" autocomplete="off" value="<%= map2ChannelLeft %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="chooseProductLeft">选择渠道产品</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="chooseProductLeft" id="chooseProductLeft" placeholder="选择渠道产品" autocomplete="off" value="<%= chooseProductLeft %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="sendToChannelLeft">发送到渠道</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="sendToChannelLeft" id="sendToChannelLeft" placeholder="发送到渠道" autocomplete="off" value="<%= sendToChannelLeft %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="completeLeft">等待完成</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" type="text" name="completeLeft" id="completeLeft" placeholder="等待渠道回调" autocomplete="off" value="<%= completeLeft %>"/></div>
	</div>
	</fieldset>
</form>