*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

    /*-webkit-touch-callout: none;*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-highlight: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
body {
    /*-webkit-touch-callout: none;*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-highlight: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
textarea{
    -webkit-appearance: none;
}
input[type=button],input[type=text],input[type=file],select{
    -webkit-appearance:none;
    outline:none
}
.clearfix{
    *zoom: 1;
}
.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(120, 120, 120, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(128, 128, 128, 0.4);
}

html,body{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.top-tab{
    width: 100%;
    position: fixed;
    left:0;
    top: 0;
    height:46px;
    box-shadow: 0 0 4px #262626;
    color: #fbfbfb;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 9;
    background: rgba(24, 24, 24, 0.9);
}
.tab-active{
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
}
.list-ctn{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 46px;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    padding-bottom: 46px;
    background: #f8f8f8;
}
.block-ctn{
    position: relative;
    width: 50%;
    float: left;
    height: 0;
    padding-top: 50%;
}
.block-img{
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}
.block-img > img{
    width: 100%;
    margin: 0 auto;
}
.block-ctn:last-child{
    margin-bottom: 46px;
}
.block-ctn > div{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    text-align: center;
}
.metro-ctn{
    position: relative;
    text-align: center;
    top: 5%;
    margin: 0 auto;
    width: 94%;
    height:94%;
    color: #ffffff;
    text-shadow: 0 0 2px black;
    font-weight: 800;
    font-size: 18px;
    border: 0.5px solid #d4d4d4;
    background-size: 100% !important;
}
.active{
    background-size: 110% 110% !important;
}
.map-ctn{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 999;
}
.top-tab > table{
    width: 100%;
    height:100%;
    text-align: center;
}
.hots{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 10px;
    color: #ffffff;
}

.hots > img{
    position: relative;
    top:2px;
    width: 12px;
}
.lct{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size: 10px;
    color: #ffffff;
}

.lct > img{
    position: relative;
    top:2px;
    width: 12px;
}
.b-name{
    text-align: right;
    position: absolute;
    bottom: 13%;
    right: 5px;
    height: 24px;
    text-decoration:none;
    border-bottom:1px solid #eaeaea;
    display: inline-block;
    padding-bottom:0px;
}
