*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

    /*-webkit-touch-callout: none;*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-highlight: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
body {
    /*-webkit-touch-callout: none;*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-user-select: none;*/
    /*-webkit-highlight: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
textarea{
    -webkit-appearance: none;
}
input[type=button],input[type=text],input[type=file],select{
    -webkit-appearance:none;
    outline:none
}
.clearfix{
    *zoom: 1;
}
.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(120, 120, 120, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(128, 128, 128, 0.4);
}

html,body{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.contain{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    overflow: hidden;
}
.user-sexy-man{

}
/*  entry  */
.module-block{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e1e1e1;
    background: #ffffff;
    -moz-transform: translate(0,100px);
    -ms-transform: translate(0,100px);
    -o-transform: translate(0,100px);
    transform: translate(0,100px);
    -webkit-transition: transform .36s;
    -moz-transition: transform .36s;
    -ms-transition: transform .36s;
    -o-transition: transform .36s;
    transition: transform .36s;
    z-index: 999;
}
.show-plugin{
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.show-emoji{
    -webkit-transform: translate(0,-50px);
    -moz-transform: translate(0,-50px);
    -ms-transform: translate(0,-50px);
    -o-transform: translate(0,-50px);
    transform: translate(0,-50px);
}
.entry-contain{
    position: absolute;
    display: table-column;
    left: 0;
    top:0;
    width: 100%;
    height:50px;
    border-bottom: 1px solid #f2f2f2;
}
.entry-contain table{
    border-spacing:0;
    text-align: center;
}

.entry-more{
    width: 50px;
    height:100%;
}
.entry-more-btn{
    display: inline-block;
    width: 50px;
    height:50px;
    background: url("../img/plus.png") center no-repeat;
    background-size: 30px 30px;
}
.entry-input-ctn{
    height:100%;
}
.entry-input{
    position: relative;
    top: -2px;
    width: 94%;
    margin: 0 auto;
    height:32px;
    font-size: 16px;
    border: 1.5px solid #cccccc;
    border-radius: 6px;
    padding: 0 5px;
}
.entry-send-ctn{
    width: 120px;
    height:100%;
}
.emoji-btn{
    float: left;
    position: relative;
    top:-2px;
    width: 50px;
    height:50px;
    background: url("../img/face.png") center no-repeat;
    background-size: 34px 34px;
}
.send-btn-ctn{
    float: left;
    width: 65px;
    height:100%;
}
.send-btn{
    position: relative;
    top: -2px ;
    text-align: center;
    line-height: 30px;
    width: 60px;
    height:30px;
    background: #B1DDF7;
    color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
}
.bottom-plug{
    width: 100%;
    height:80px;
    position: relative;
    top:60px;
    text-align: center;
}
.bottom-plug td{
    width: 25%;
}
.plug-btn{
    height:100%
}
.plug-btn > div{
    width: 60px;
    height:60px;
}
.plug-photo{
    position: relative;
    width: 60px;
    margin: 0 auto;
}
.delete-img{
    position: absolute;
    right:-10px;
    top:-10px;
    width: 18px;
    height:18px;
    background: #e8001c;
    border-radius: 50%;
    z-index: 99999;
}
.plug-photo-view{
    position: relative;
    width: 100%;
    height:100%;
    vertical-align: middle;
}
.bottom-emoji{
    width: 100%;
    height: 150px;
    position: relative;
    top: 51px;
    text-align: center;
}
.emoji-ctn{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height:100%;
}
.faceCtn{
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
}
/*  entry  */
/*  msg  */
.msg-block-contain{
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:-50px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    padding-top: 0px;
    background: #F5F5F5;
    /*background: -moz-linear-gradient(left top, #1a0723, #351247);*/
    /*background: -webkit-linear-gradient(left top, #1a0723, #351247);*/
    /*background: -o-linear-gradient(left top, #1a0723, #351247);*/
}
.msg-ctn{
    position: relative;
    font-size: 15px;
    padding-top: 2px;
}
.msg-titles{
    padding-bottom: 4px;
}
.msg-name{
    color: #b3b3b3;
    font-size: 14px;
}
.msg-block{
    width: 100%;
    position: relative;
    margin-top: 14px;
    font-size: 15px;
}
.msg-block:nth-of-type(1){
    margin-top: 95px;
}
.msg-block:last-child{
    margin-bottom: 20px;
}
.msg-time{
    padding: 8px 0 0 0;
    text-align: center;
    color: rgba(155, 155, 155, 0.75);
    font-size: 10px;
}
.msg-header{
    position: relative;
    float: left;
    padding: 5px 4px 0 6px;
    width: 60px;
    height:60px;
    z-index:99;
}
.msg-header > img{
    width: 55px;
    height:55px;
    border-radius: 3px;
}
.msg-contant{
    float: left;
    max-width: 56%;
    padding: 6px;
    margin: 0 5px;
    min-height: 20px;
    min-width: 20px;
    /*padding-bottom: 10px;*/
    color: #c9f09a;
    background: rgba(0, 0, 0, 0);
    /*border-radius: 5px;*/
    position: relative;
    border-radius: 5px;
}
.msg-contant *{
    position: relative;
    z-index: 9;
}
.msg-contant span{
    display: inline;
    word-wrap: break-word;
    word-break:break-all;
}
.msg-blue{
    background: #B1DDF7;
    color: #333333;
    border:1px solid #8AD0FA;
}
.msg-purple{
    background: #FEDDE6;
    color: #373737;
    border:1px solid #FFA1BB;
}
.msg-smgs{
    top: 0px;
    color:#6e6e6e;
}
.msg-smgs img{
	max-width:100%;
}
.msg-forhe{
    top: 5px;
    line-height: 22px;
    border-top: 1px dashed #c9c9c9;
    font-size: 13px;
    text-align: center;
    color: #9b9b9b;
}
.msg-yellow{
    color: #f3fc79;
}
.msg-img{
    margin: 5px 0 2px 0px;
    position: relative;
    z-index: 99;
}
.msg-img > img{
    border: 1px solid #f4f4f4;
    padding: 1px;
    background: rgba(255, 255, 255, 0.62);
    width: 70px;
    max-height:90px;
}
.msg-icon-right{
    position: absolute;
    width: 13px;
    right: 1px;
    bottom: 1px;
}

.msg-arr{
    position: absolute !important;
    left: -10px;
    top: 10px;
    width: 10px;
    /* height: 12px; */
    overflow: hidden;
    z-index: 9;
}
.msg-block-self .msg-header{
    float: right;
}
.msg-block-self .msg-ctn{
    text-align: right;
}
.msg-block-self .msg-contant{
    float: right;
    text-align: left;
    margin-right: 5px;
}
.msg-block-self .msg-icon-right{
    right:auto;
    left:4px;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.msg-block-self .msg-arr{
    position: absolute !important;
    right: -10px;
    left: auto;
    top: 10px;
    width: 10px;
    /* height: 12px; */
    overflow: hidden;
    z-index: 9;
    border-right: 1px solid #FEDDE6;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.msg-block-self .msg-contant{
    /*padding-bottom: 10px;*/
}
.msg-blue .msg-arr{
    border-right: 1px solid #FEDDE6;
}
.msg-blue .msg-arr{
    border-right: 1px solid #B1DDF7;
}
.text-blue{
    color: #8AD0FA;
}
/*  msg  */
/* pop-forother */
.pop-forOther{
    width: 100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index:9999;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}
.pop-forOther-close{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height:100%;
    z-index:9;
}
.pop-forOther-ctn{
    position: absolute;
    width: 270px;
    height: 320px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ffffff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /*-webkit-transform: scale(2,2.5);*/
    /*-moz-transform: scale(2,2.5);*/
    /*-ms-transform: scale(2,2.5);*/
    /*-o-transform: scale(2,2.5);*/
    /*transform: scale(2,2.5);*/
    /*opacity: 0;*/
    border-radius: 5px;
    z-index: 99;
    text-align: center;
}
.pop-sreen-foricon{
	width:30px;
	height:100%;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-15px;
	text-align:center;
}

.pop-sreen-foricon img{
	width:30px;
	position:absolute;
	display:block;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
}
.baseSelect{
    width: 88%;
    margin: 0 auto;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    font-size: 12px;
    line-height: 35px;
    padding-left: 5px;
    color: #8c8c8c;
}
.pop-forOther-title{
    text-align: center;
    height:50px;
    line-height: 50px;
    color: #858585;
    overflow:hidden;
}
/* pop-forother */
/*  pop  */
.pop-container{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999999;
    display: none;
    background: rgba(0, 0, 0, 0.23);
}
.pop-show{
    display: block;
}
.pop-forclose{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:9;
}
.pop-send-ctn{
    position: absolute;
    width: 90%;
    max-width: 260px;
    height:315px;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    background: #ffffff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(2,2.5);
    -moz-transform: scale(2,2.5);
    -ms-transform: scale(2,2.5);
    -o-transform: scale(2,2.5);
    transform: scale(2,2.5);
    opacity: 0;
    border-radius: 5px;
    z-index:99;
}
.is-for-gift{
    height:390px !important;
}
.pop-send-show{
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    opacity:1;
}
.pop-tab-nav{
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #7d7d7d;
    padding: 10px 0;
}
.pop-tab-nav > div{
    width: 50%;
    float: left;
    text-align: center;
}
.tab-select{
    width: 88%;
    margin: 0 auto;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    line-height: 35px;
    padding-left: 5px;
    color: #8c8c8c;
}
.pop-gift-ctn{
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
}
.pop-chatter-ctn{
    margin-top: 10px;
}
.pop-chatter-ctn > .gift-ctn{
    height: 60px;
}
.gift-ctn{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    height: 120px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    z-index: 999;
}
.tab-bp-ctn{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}
.bp-text{
    padding: 4px;
    width: 65%;
    height:50px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background: white;
    float: left;
    text-align: left;
    box-shadow: none;
    font-size: 13px;
}
.bp-img{
    width: 30%;
    float: right;
}
.bp-img-ctn{
    position: relative;
    width: 90%;
    margin-left: 10%;
}
.bp-img-ctn > img{
    position: relative;
    display: block;
    width: 60px;
    max-height: 60px;
    margin: 0 auto;
    border-radius: 5px;
}
.pop-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.bp-sub{
    color: white;
    /*width: 56px;*/
    padding: 3px 10px;
    background: #B1DDF7;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 8px;
}
.bp-cancel{
    color: #b0b0b0;
    width: 50px;
    padding: 2px 4px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #f1f1f1;
}
.pop-tab-active{
    color: #B1DDF7;
    box-shadow: 0 0 1px #ffffff;
}
.gift-list{
    width: 100%;
    list-style: none;
}
.gift-list li{
    height:40px;
    font-size: 12px;
    color: #999999;
    border-bottom: 1px solid #f4f4f4;
}
.gift-list li:after{
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
}
.gift-img{
    width: 30px;
}
.gift-msg{
    width: 100px;
    float: left;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gift-name{
    padding: 5px 0 0 0;
    /*width: 50px;*/
}
.gift-transilate{
    width: auto;
    overflow:hidden;
    font-size: 10px;
    line-height: 10px;
}
.gift-list li > img{
    height:26px;
    width: 26px;
    float: left;
    margin: 7px;
}
.gift-cost{
    float: left;
    width: 35px;
    height:100%;
    text-align: right;
    line-height: 40px;
}
.radio-ctn{
    float: right;
    width: 50px;
    height: 100%;
    text-align: center;
}
.radio-back{
    margin: 0 auto;
    margin-top: 13px;
    width: 12px;
    height:12px;
    border-radius: 50%;
    border: 1px solid #B1DDF7;
}
.radio-checked{
    display: block;
    width: 60%;
    height:60%;
    margin: 20%;
    background: #B1DDF7;
    border-radius: 50%;
}
.price-ctn{
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    color: #c4c4c4;
    padding: 2px 0;
}

/*pop-photoWall*/
.pop-photoWall{
    position: fixed;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.87);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(2,2.5);
    -moz-transform: scale(2,2.5);
    -ms-transform: scale(2,2.5);
    -o-transform: scale(2,2.5);
    transform: scale(2,2.5);
    opacity: 0;
    display: none;
    z-index:999999;
}
.pop-photoWall-ctn{
    width: 100%;
    height: 100%;
}
.pop-wall-text{
    position: absolute;
    bottom: 60px;
    left:0;
    width: 100%;
    font-size: 13px;
    text-align: center;
    color: rgba(200, 200, 200, 0.87);
    z-index:99;
}
.pop-phone-show{
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    opacity:1;
}
.pop-phones{
    width: 100%;
    height:100%;
    position: relative;
}
.pop-phones > img{
    position: absolute;
    display: block;
    width: 100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.pop-wall-msg{
    position: absolute;
    bottom: 0;
    z-index:1;
    height:50px;
    width: 100%;
    line-height:50px;
    background: rgba(70, 0, 23, 0.28);
    color: #ffffff;
    font-size: 12px;
}
.pop-wall-msg table{
    width: 100%;
    border-spacing: 0;
}
.pop-wall-name{
    padding-left: 10px;
    font-size: 14px;
}
.pop-wall-sexy{
    padding-left: 5px;
    width: 6px;
}
.pop-wall-chat{
    float: right;
    margin-right: 10px;
    position: relative;
    top: 0px;
    border-radius: 4px;
    display: inline-block;
    width: 45px;
    line-height: 20px;
    height: 20px;
    padding: 4px;
    color: rgba(210, 95, 155, 0.83);
    border: 1px solid rgba(210, 95, 155, 0.83);
    text-align: center;
}
/*pop-photoWall*/
/*pop-sreen*/
.pop-sreen{
    position: fixed;
    width: 100%;
    height:33%;
    background: rgba(0, 0, 0, 0.28);
    top:30px;
    z-index:9999;
    overflow: hidden;
    box-shadow: 0 0 5px #000000;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
    opacity: 0;
}
.pop-sreen-show{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    opacity: 1;
}
.pop-sreen-img{
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width: 100%;
    z-index:8;
}
.pop-sreen-img-flt{
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(16, 16, 16, 0.21);
    z-index:9;
}
.blur {
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
}

.pop-sreen-bg{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:99;
    text-align: center;
}
.pop-sreen-block{
    display: inline-block;
    margin: 0 auto;
    width: 48%;
    text-align: center;
}
.pop-sreen-head{
    position: relative;
    display: block;
    width: 60px;
    height:60px;
    margin: 15px auto 10px auto;
    border-radius: 3px;
}
.pop-sreen-name{
    color: #f1f1f1;
    text-align: center;
}
.pop-sreen-msg{
    position: relative;
    color: #c0c0c0;
    text-align: center;
    top:20px;
    font-size:12px;
}
.sreen-timer{
    position: absolute;
    right:10px;
    bottom:10px;
    color: white;
    font-size: 10px;
}
/*pop-sreen*/
/*  pop  */
/*  header  */
.header-contain{
    position: fixed;
    height: 30px;
    left:0;
    top:0;
    width: 100%;
    background: rgba(255, 255, 255, 0.91);
    z-index:999;
    font-size: 12px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}
.header-rich-title{
    height: 18px;
    line-height: 18px;
    display: inline;
    padding: 2px;
    color: #B1DDF7;
    border-radius: 2px;
    border: 1px solid #B1DDF7;
}
.header-sexy{
    position: relative;
    top:-1px;
    vertical-align: middle;
    width: 7px;
}
.text-heightlight{
   /*  color: #FFA1BB; */
    /*text-shadow: 0 0 5px #FFA1BB;*/
}

.text-white{
    color: white;
}
.text-org{
    color: #F97F18;
}
.text-dark{
    color: #a1a1a1;
}
.header-ctn{
    width: 100%;
    height: 30px;
    border-spacing: 0;
    border: none;
    color: #b3b3b3;
    z-index:99;
    position:relative;
    background:#fff;
}
.header-ctn td{
    line-height: 30px;
}
.header-richer{
    position: relative;
    top:-2px;
    vertical-align: middle;
    width: 20px;
    height:20px;
    border-radius: 5px;
}
.main-tips{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    color: #ffffff;
    background: rgba(255, 23, 45, 0.77);
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}
.main-tips-show{
    top:30px;
}
/*  header  */
.richer-list-btn,.chat-list-btn{
    position: fixed;
    right:0;
    top:60px;
    width: 50px;
    height:50px;
    z-index: 999;
    font-size: 10px;
    color: #9A9A9A;
    text-align: center;
}
.chat-list-btn{
    top:120px;
}
.chat-msg-tips{
    position: absolute;
    right: 5px;
    top:-5px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: red;
    border-radius: 50%;
    text-align: center;
    color: white;
    z-index: 9;
    font-size: 7px;
}
.richer-list-btn > img,.chat-list-btn > img{
    width: 28px;
    margin: 0 auto;
    display: block;
}

/* chatter */


#chatters .all{
    width: 100%;
    /*background-color: #f5f5f5;*/
}
#chatters .all-top{
    width: 100%;
    overflow: hidden;
    /*border-bottom: 1px solid #ccc;*/
}
#chatters .p{
    float: left;
    width: 25%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #333333;
    border-bottom: 1px solid #ccc;
}
#chatters .bottom{
    border-bottom: 1px solid #000;
}
#chatters .rank-list{
    width: 100%;
    position: relative;
    height: 90px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
#chatters .rank-list:last-child{
    border: 0;
}
#chatters .fist{
    overflow: hidden;
    float: left;
    padding-top: 10px;
}
#chatters .fist img{
    width: 50px;
    float: left;
    padding: 10px 0 0 15px;
}
#chatters .number-one{
    color: white;
    width:20px;
    height:20px;
    border-radius: 20px;
    line-height:20px;
    vertical-align: middle;
    text-align: center;
    background-color: orangered;
    margin-left: 10px;
    margin-top: 5px;
}
#chatters .hover{
    background-color: dimgrey;
}
#chatters .rank-name{
    float: left;
    width: 120px;
    height: 50px;
    margin-top: 10px;
    padding-left: 10px;
}
#chatters .rank-name img{
    width: 10px;
    height: 16px;
    float: left;
    margin-top: -6px;
    margin-left: -20px;
}
#chatters .rank-name span{
    display: inline-block;
    float: left;
    color: #333333;
    max-width:90%;
}
#chatters .rank-number{
    font-size: 14px;
    width: 100px;
    color: #999999;
    float: left;
    margin-top: 5px;
}
#chatters .rank-right{
    position: absolute;
    right: 30px;
    top: 18px;
    color: dimgrey;
    text-align: center;
    line-height: 1#chatters .6em;
}
#chatters .alls{
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}
#chatters .alls:last-child{
    border:0;
}
#chatters .all-left{
    float: left;
    margin: 15px 0 0 15px;
}
#chatters .all-left img{
    height: 60px;
    float: left;
}
#chatters .all-left-text{
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}
#chatters .text{
	font-size:11px;
	max-width:150px;
	white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	overflow:hidden;
    display: inline-block;
    float: left;
}
#chatters .all-left-text img{
    float: left;
    width: 8px;
    height:auto;
}
#chatters .all-left-text p{
    clear: both;
    padding-top: 10px;
    color: #999999;
    font-size: 14px;
}
#chatters .all-right{
    position: absolute;
    right: 15px;
    top: 15px;
}
#chatters .all-right p{
    color: #999999;
    font-size: 15px;
}
/*#chatters .ptwo{*/
/*background-color: #8ad0fa;*/
/*color: white;*/
/*border: 0;*/
/*}*/
#chatters .all-right p:last-child{
	float:right;
    width: 60px;
    height: 30px;
    color: white;
    background-color: #8ad0fa;
    border-radius:5px;
    line-height:30px;
    vertical-align: middle;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

/* chatter */
/* richer */
#richers .head,#richers .rank{
	position:relative;
	z-index:99999999;
}
#richers .head{
	height:100px;
}
#richers .head img{
    width: 100%;
    height:100%;
}
#richers .rank{
    width: 100%;
    overflow: hidden;
    background:#ffffff;
}
#richers .p{
    float: left;
    width:  33%;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    color: dimgrey;
}
#richers .bottom{
    border-bottom: 1px solid #333333;
}
#richers .hover{
    border-bottom:1px solid #000;
}
#richers .rank-list{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    left:0;
    top:0;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
#richers .rank-list:last-child{
    border: 0;
}
#richers .fist{
    position:relative;
    /*position: relative;*/
    padding: 5px 0;
}
#richers .fist-img{
    width: 50px;
    float: left;
    padding: 10px 0 0 20px;
}
#richers .number-one{
    position: absolute;
    top: 12px;
    left:10px;
    width:20px;
    height: 20px;
}
#richers .rank-name{
    float: left;
    width: 120px;
    height: 50px;
    /*border:1px solid red;*/
    margin-top: 10px;
    padding-left: 10px;
}
#richers .rank-name-img{
    width: 8px;
    margin-top: 3px;
}
#richers .rank-name span{
	font-size:11px;
	max-width:150px;
	white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	overflow:hidden;
    display: inline-block;
    float: left;
}
#richers .rank-number{
    font-size: 11px;
    width: 100px;
    color: #999999;
    float: left;
    margin-top: 0px;
}
#richers .rank-right{
    position: absolute;
    right: 20px;
    top:10px;
    text-align: center;
    line-height: 1.6em;
}
#richers .rank-right span{
    font-size: 15px;
    color:#333333;
}
#richers .rank-right img{
    width: 12px;
    height: 14px;
    margin-left: -10px;
}
#richers .msg{
    font-size: 14px;
    color: #999999;
    width: 60px;
    height: 25px;
    border: 1px solid #999999;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 5px;
    margin-left: 10px;
    /*background-color: #8ad0fa;*/
}
#richers .msgs{
    background-color: orangered;
    color: white;
}
/* richer */
/* barList */
#barLists .top-tab{
    width: 100%;
    position: fixed;
    left:0;
    top: 0;
    height:46px;
    box-shadow: 0 0 4px #262626;
    color: #fbfbfb;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 9;
    background: rgba(24, 24, 24, 0.9);
}
#barLists .tab-active{
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
}
#barLists .list-ctn{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 46px;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    padding-bottom: 46px;
    background: #f8f8f8;
}
#barLists .block-ctn{
    position: relative;
    width: 50%;
    float: left;
    height: 0;
    padding-top: 50%;
}
#barLists .block-img{
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}
#barLists .block-img > img{
    width: 100%;
    margin: 0 auto;
}
#barLists .block-ctn:last-child{
    margin-bottom: 46px;
}
#barLists .block-ctn > div{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    text-align: center;
}
#barLists .metro-ctn{
    position: relative;
    text-align: center;
    top: 5%;
    margin: 0 auto;
    width: 94%;
    height:94%;
    color: #ffffff;
    text-shadow: 0 0 2px black;
    font-weight: 800;
    font-size: 18px;
    border: 0.5px solid #d4d4d4;
    background-size: 100% !important;
}
#barLists .active{
    background-size: 110% 110% !important;
}
#barLists .map-ctn{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 999;
}
#barLists .top-tab > table{
    width: 100%;
    height:100%;
    text-align: center;
}
#barLists .hots{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 10px;
    color: #ffffff;
}

#barLists .hots > img{
    position: relative;
    top:2px;
    width: 12px;
}
#barLists .lct{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size: 10px;
    color: #ffffff;
}

#barLists .lct > img{
    position: relative;
    top:2px;
    width: 12px;
}
#barLists .b-name{
    text-align: right;
    position: absolute;
    bottom: 13%;
    right: 5px;
    height: 24px;
    text-decoration:none;
    border-bottom:1px solid #eaeaea;
    display: inline-block;
    padding-bottom:0px;
}

/* barList */

/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: February 7, 2016
 */
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom:18px
}

