<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5level] [%logger{0}] [%thread] [%class:%line] - %m%n</pattern>

	        <!-- 常用的Pattern变量,大家可打开该pattern进行输出观察 -->
	        <!-- 
	          <pattern>
	              %d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n
	              Logger: %logger
	              Class: %class
	              File: %file
	              Caller: %caller
	              Line: %line
	              Message: %m
	              Method: %M
	              Relative: %relative
	              Thread: %thread
	              Exception: %ex
	              xException: %xEx
	              nopException: %nopex
	              rException: %rEx
	              Marker: %marker
	              %n
	              
	          </pattern>
	           -->
		</encoder>
	</appender>

	<!-- 按日期区分的滚动日志 -->
	<appender name="ERROR-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/error.log</file>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%logger{0}] [%thread] [%class:%line] - %m%n</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- 按日期和大小区分的滚动日志 -->
	<appender name="DEBUG-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/all.log</file>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5level] [%logger{0}] [%thread] [%class:%line] - %m%n</pattern>
		</encoder>

		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter> -->

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>all-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>

		</rollingPolicy>

	</appender>

    <logger name="com.woyao">
        <level value="${log.level}"/>
    </logger>
    <logger name="com.snowm">
        <level value="${log.level}"/>
    </logger>
    <logger name="org.mortbay">
        <level value="ERROR"/>
    </logger>
    <logger name="httpclient.wire">
        <level value="INFO"/>
    </logger>
    <logger name="java">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.impl.SessionFactoryImpl">
        <level value="ERROR"/>
    </logger>
    <logger name="org.hibernate.engine.loading.LoadContexts">
        <level value="ERROR"/>
    </logger>

    <!-- General Catch All -->
    <logger name="edu">
        <level value="INFO"/>
    </logger>
    <logger name="org">
        <level value="INFO"/>
    </logger>
    <logger name="net">
        <level value="INFO"/>
    </logger>
    
    <logger name="io.netty">
        <level value="WARN"/>
    </logger>
    
    <!-- security -->
    <logger name="com.woyao.security.Oauth2SecurityFilter">
    	<level value="WARN"/>
    </logger>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <level value="${log.level}"/>
        
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR-OUT" />
		<appender-ref ref="DEBUG-OUT" />
    </root>
</configuration>