<div class='<% if (isUp == false) { %>dropdown <%} else {%>dropup<%}%>' id="local-order-ops">
	<button name="op-btn" type='button' class='btn btn-info btn-sm dropdown-toggle btn-op-col' data-toggle='dropdown'
		 aria-labelledby="dLabel" >
		操作<span class='caret'></span>
	</button>
	<ul class='dropdown-menu' style="min-width:80px;">
		<li><a name="look-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>查看</a></li>
		<% if (markSuccess == true) { %>
		<li><a name="success-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>标记成功</a></li>
		<% } %>
		<% if (markFail == true) { %>
		<li><a name="fail-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>标记失败</a></li>
		<% } %>
		<% if (model.sentCallbackToAli == false) { %>
		<li><a name="sync-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>设为同步</a></li>
		<% } else { %>
		<li><a name="unsync-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>设为未同步</a></li>
		<% } %>
		<li role='separator' class='divider'>
		<% if (model.enabled == false) { %>
		<li><a name="enable-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>启用</a></li>
		<% } else { %>
		<li><a name="disable-a" data-id="<%= model.id %>" class='btn-op-col' style='color: #333'>停用</a></li>
		<% } %>
		<!-- <li role='separator' class='divider'></li>
		<li><a href='#'>Separated link</a></li> -->
	</ul>
</div>