<table class="table table-striped table-hover table-condensed responsive nowrap">
	<thead>
		<tr>
			<th class="all">ID</th>
			<th class="all">淘宝订单</th>
			<th class="all">本地产品编号</th>
			<th>当前阶段</th>
			<th class="all">状态</th>
			<th class="none">淘宝创建时间</th>
			<th class="none">时间限制</th>
			<th class="none">淘宝同步</th>
			<th class="none">最后处理时间</th>
			<th class="none">启用</th>
			<th class="none">错误码</th>
			<th class="none">错误描述</th>
			<th class="all">操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>