        html,body{
            width: 100%;
            height:100%;
            position: absolute;
            overflow: hidden;
            font-family: "PingFangSC-Regular","Microsoft Yahei","sans-serif" !important;
        }
        .m-nav-ctn{
            position: absolute;
            /*float: left;*/
            width: 150px;
            height:100%;
            background: #2C3E50;
            z-index: 9;
            color: white;
        }
        .m-header-ctn{
            width: 100%;
            height:50px;
            background: #e6e6e6;
            position: absolute;
            top:0;
            left:0;
            z-index: 9;
        }
        .m-container{
            left:0;
            top:0;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            padding-left: 150px;
            float: right;
        }
        .m-content{
            position: relative;
            width: 100%;
            height:100%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding-top:10px;
        }
        .m-nav{
            list-style: none;
            width: 100%;
            padding: 0;
        }
        .m-nav-logo{
        	margin: 10px 0;
            width:100%;
            text-align: center;
        }
        .m-nav-logo > img{
        	width:80px;
        }
        .m-nav > li{
            width: 100%;
            text-align: center;
            height: 150px;
            color: white;
            background: #34495E;
            cursor: pointer;
            -webkit-transition: background .3s;
            -moz-transition: background .3s;
            -ms-transition: background .3s;
            -o-transition: background .3s;
            transition: background .3s;
        }
        .m-nav > li > i{
            font-size:50px
        }
        .m-nav > li:hover{
            background: #3b526a;
        }
        .m-nav > li > a{
            color: white;
            display: block;
        }
        
        
                .m-table{
            color: #798795;
            margin-bottom: 20px;
            border-radius: 6px;
        }
        .m-table ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .m-table-item{
            width: 100%;
            min-height: 50px;
            background: #1abc9c;
            border-radius: 6px;
            color: white;
        }
        .m-table-item > div{
            width: 20%;
            float: left;
            text-align: center;
            line-height: 50px;
        }
        
            .m-table{
            color: #798795;
            margin-bottom: 20px;
            border-radius: 6px;
        }
        .m-table ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .m-table-item{
            width: 100%;
            min-height: 50px;
            background: #1abc9c;
            border-radius: 6px;
            color: white;
            margin: 5px 0;
        }
        .m-table-item > div{
            width: 20%;
            float: left;
            text-align: center;
            line-height: 50px;
        }
        
        
        
  