
/**/
.m0{
    transform-origin: center;
    transform: translate(0,-105%);
    transition: all 1.5s;
    opacity: 0;
}
.m1{
    transform-origin: center;
    transform: translate(0, 0px);
    transition: all 1.5s;
}
.m2{
    transform-origin: center;
    transform: translate(0,110%);
    transition: all 1.5s;
}
.m3{
    transform-origin: center;
    transform: translate(0,220%);
    transition: all 1.5s;
}
.m4{
    transform-origin: center;
    transform: translate(0,330%);
    opacity: 0;
}


*{
    margin: 0;
    padding:0;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
html,body{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    overflow: hidden;
}
body{
    background: url("/show/resources/img/bg2.jpg") center no-repeat;
    background-size: cover;
    color: #f9f9f9;
}
.m-contain{
    position: absolute;
    width: 70%;
    height: 100%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
}
.m-top{
    position: absolute;
    top:0;
    width: 100%;
    font-size: 0.4rem;
    text-align: center;
    height: 11%;
    margin-top: .4rem;
    background: url("/show/resources/img/hd.png") center no-repeat;
    background-size:100% 100%;
}
.m-top > div{
    position: relative;
}
.m-top-l{
	width:33.333333%;
	height:100%;
	float:left;
}
.m-top-c{
	width:33.333333%;
	height:100%;
	float:left;
}

.m-top-l > img{
	height: 100%;
	position:absolute;
	right:10%;
}
.m-top-c > img{
	width: 3rem;
	position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.m-top-r{
	width:33.333333%;
	height:100%;
	float:left;
}
.m-top-r table{
	width:100%;
	height:100%;
	color:rgba(250,119,176,.8);
	text-shadow:0 0 10px #ce9dff;
	font-size:.25rem;
	font-weight:300;
	text-align:left;
	padding-left:10%;
}
.m-msg-ctn{
    width: 100%;
    height: 67%;
    position: absolute;
    overflow: hidden;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.m-msg-ctn > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:30.33333333%;
    /*background: rgba(255, 255, 255, 0.27);*/
    /*border-radius: 6px;*/
    margin: 1.5% 0;
}
.msg-h{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
}
.msg-hd{
    position: relative;
    display: block;
    margin:.2rem auto 0 auto;
    width: 1.2rem;
    max-width:78px;
    border-radius: 50%;
}
.msg-c{
    float: left;
    width: 65%;
    height:100%;
    position: relative;
}
.msg-name{
	position:absolute;
	bottom:0px;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: .3rem;
    text-align:center;
}

.msg-name > img{
	position:relative;
	top:-.17rem;
	width:.1rem;
}
.msg-name-text{
	display:inline-block;
	max-width:1rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:.20rem;
}
.msg-text{
	margin-left:.1rem;
    background: rgba(255, 255, 255, 0.27);
    height: 86%;
    position: relative;
    border-radius:10px;
    border:4px solid rgba(117, 52, 152, 0.74);
    box-shadow:0px 0px 6px rgba(117, 52, 152, 0.74);
}
.msg-img-c{
    position: relative;
    float: left;
    width: 1.5rem;
    height: 100%;
    margin-right: 0.1rem;
    background: rgba(0, 0, 0, 0.27);
    overflow:hidden;
}
.msg-img{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
    width: 85%;
    border-radius: .1rem;
}
.msg-text-c{
    width: 96%;
    padding: 0 2%;
    height: 100%;
    font-size: .6rem;
    overflow:hidden;
    position:relative;
}

.l-code{
    position: absolute;
    left:0;
    top:0;
    width: 15%;
    height:100%;
    background: url("/show/resources/img/hd.png") no-repeat;
    background-size: cover;
}
.l-code > div{
    position: absolute;
    display:block;
    width:80%;
    height:2rem;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
}

.l-code > div > img{
	display:block;
    width:80%;
    border-radius:6px;
    margin:0 auto;
}

.l-code > div > p{
	padding: .2rem 0;
	text-align:center;
    font-size: .16rem;
}
.m-bottom-c{
	position: absolute;
	bottom:.5rem;
	width:45.5%;
	left:50%;
	height:.5rem;
	line-height:.5rem;
	margin-left:-21%;
	text-align:center;
	font-size:.2rem;
	color:#ffffff;
	background: rgba(255,255,255,0.2);
}
.m-bottom-tip{
	float:left;
	margin: .075rem;
	width:.35rem;
}
.msg-ba{
	position:absolute;
	right:-.3rem;
	top:-.2rem;
	width:1rem;
	z-index:99;
}

.msg-table{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.msg-table-td{
	vertical-align:middle;
	height:100%;
	width:100%;
	padding:10px;
	text-align:center;
	font-size:.4rem;
	color:#dddddd;
}
.msg-sexy-man{
	visibility:hidden;
}
/*   --   */
/**/

.wall-all-ctn {
    display: none;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 99;
    background: url("/show/resources/img/wall.jpg") no-repeat;
    background-size: cover;
    font-size: 25px;
}
.wall-all{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    background-size: 100%;
    overflow: hidden;
}
.wall-sexy{
	position:relative;
	top:-.1rem;
	width: .15rem;
    padding-left:.2rem;
}
.wall-all-left{
    width: 60%;
    height:100%;
    float: right;
    text-align: center;
    color: white;
    position: relative;
}
.wall-all-left > div{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width: 100%;
    height:300px;
    margin:auto;
}
.wall-all-left-img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-bottom: .1rem;
}
.wall-p{
    color: #ccc;
}
.wall-text{
    color: #f97f18;
}
.wall-all-right{
    width: 35%;
    height:100%;
    float: left;
    animation:myfirst 2s;
    -moz-animation:myfirst 2s;
    -webkit-animation:myfirst 2s;
    -o-animation:myfirst 2s;
    position: relative;
    font-size: 0;
    background:rgba(0,0,0,.2);
}
.wall-all-right-img{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
    width: 100%;
    border-radius: .1rem;
}
.wall-name-text{
	max-width:2rem;
	display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.wall-texts{
	line-height: .4rem;
}
@keyframes myfirst
{
    20%{transform: scale(1.1,1.1);}
    80%{transform: rotateY(180deg);}
}
@-moz-keyframes myfirst /* Firefox */
{
    20%{transform: scale(1.1,1.1);}
    80%{transform: rotateY(180deg);}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
    20%{transform: scale(1.1,1.1);}
    80%{transform: rotateY(180deg);}
}
@-o-keyframes myfirst /* Opera */
{
    20%{transform: scale(1.1,1.1);}
    80%{transform: rotateY(180deg);}
}

.shop-msg-ctn{
	width:90%;
	overflow:hidden;
	height:100%;
	top:0;
	right:0;
	position:absolute;
}
.shop-msg{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	
	-webkit-animation: marquee 10s linear infinite;
  	-moz-animation: marquee 10s linear infinite;
  	-ms-animation: marquee 10s linear infinite;
  	-o-animation: marquee 10s linear infinite;
  	animation: marquee 10s linear infinite;
}




@-webkit-keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
}
@-moz-keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
}
@-ms-keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
}
@-o-keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
}
@keyframes marquee {
    0% { left: 100%; }
    100% { left: -200%; }
}

.clearFix{
	clear:both;
}
/*  */
.ba-bg{
	margin:0 auto;
	width:80%;
	height:1.5rem;
	background: url("/show/resources/img/show/pp.png") center no-repeat;
    background-size: 100% 100%;
    text-align:center;
    font-size:.28rem;
    color: rgba(193,112,253,1)
}
.wall-sender,.wall-to ,.wall-giftName{
    font-size:.32rem;
    color: rgba(211,70,128,1);
    padding: 0 .05rem;
}
.giftCtn{
	width:2rem;
	height:2rem;
	position:absolute;
	top:-100%;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}
.giftImg{
	width: 1rem;
}
.pop-sreen-name{
	display:block;
	margin:0 auto;
	width:3rem;
	text-align:center;
}
.toWhoCtn,.senderCtn{
	width:50%;
	float:left;
}
.ba-0{
	margin:20px;
}


/* texiao */
/*水平翻转*/
.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.g-light1{
    width: 5rem;
    position: absolute;
    top: -26px;
    left: -24px;
    -moz-transform-origin:11% 50%;
    -webkit-transform-origin: 11% 50%;
    -o-transform-origin: 11% 50%;
    transform-origin: 11% 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    animation: g-light-a 5s infinite alternate;
    -moz-animation: g-light-a 5s infinite alternate;	/* Firefox */
    -webkit-animation: g-light-a 5s infinite alternate;	/* Safari 和 Chrome */
    -o-animation: g-light-a 5s infinite alternate;	/* Opera */
}
.g-light2{
    width: 6rem;
    position: absolute;
    top: -26px;
    left: -24px;
    -moz-transform-origin: 11% 50%;
    -webkit-transform-origin:11% 50%;
    -o-transform-origin: 11% 50%;
    transform-origin: 11% 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    animation: g-light-a 4s infinite alternate;
    -moz-animation: g-light-a 4s infinite alternate;	/* Firefox */
    -webkit-animation: g-light-a 4s infinite alternate;	/* Safari 和 Chrome */
    -o-animation: g-light-a 4s infinite alternate;	/* Opera */
}
.g-light3{
    width: 6rem;
    position: absolute;
    top: -30px;
    right: -21px;
    -moz-transform-origin: 90% 50%;
    -webkit-transform-origin: 90% 50%;
    -o-transform-origin: 90% 50%;
    transform-origin: 90% 50%;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);


    animation: g-light-b 5s infinite alternate;
    -moz-animation: g-light-b 5s infinite alternate;	
    -webkit-animation: g-light-b 5s infinite alternate;	
    -o-animation: g-light-b 5s infinite alternate;	
}
.g-light4{
    width: 5rem;
    position: absolute;
    top: -15px;
    right: -21px;
    -moz-transform-origin: 90% 50%;
    -webkit-transform-origin: 90% 50%;
    -o-transform-origin: 90% 50%;
    transform-origin: 90% 50%;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);

    animation: g-light-b 4s infinite alternate;
    -moz-animation: g-light-b 4s infinite alternate;	/* Firefox */
    -webkit-animation: g-light-b 4s infinite alternate;	/* Safari 和 Chrome */
    -o-animation: g-light-b 4s infinite alternate;	/* Opera */
}
@keyframes g-light-a
{
    from {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    to {
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        transform: rotate(70deg);
    }
}

@-moz-keyframes g-light-a /* Firefox */
{
    from {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    to {
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        transform: rotate(70deg);
    }
}

@-webkit-keyframes g-light-a /* Safari 和 Chrome */
{
    from {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    to {
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        transform: rotate(70deg);
    }
}

@-o-keyframes g-light-a /* Opera */
{
    from {
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    to {
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -o-transform: rotate(70deg);
        transform: rotate(70deg);
    }
}

@keyframes g-light-b
{
    from {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    to {
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
}

@-moz-keyframes g-light-b /* Firefox */
{
    from {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    to {
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
}

@-webkit-keyframes g-light-b /* Safari 和 Chrome */
{
    from {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    to {
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
}

@-o-keyframes g-light-b /* Opera */
{
    from {
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    to {
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
}




.showContainer{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:999999999;
}
.show2 > img{
	transition: all 5s;
	-moz-transition: all 5s;	/* Firefox 4 */
	-webkit-transition: all 5s;	/* Safari 和 Chrome */
	-o-transition: all 5s;	/* Opera */
	position:absolute;
	left:50%;
	top:-50%;
	width:.4rem;
	-webkit-animation:pulse 1s .1s ease both infinite;
	-moz-animation:pulse 1s .1s ease both infinite;
}


@-webkit-keyframes pulse{
		0%{-webkit-transform:scale(1)}
		50%{-webkit-transform:scale(1.2)}
		100%{-webkit-transform:scale(1)}
}
@-moz-keyframes pulse{
		0%{-moz-transform:scale(1)}
		50%{-moz-transform:scale(1.2)}
		100%{-moz-transform:scale(1)}
}
@-webkit-keyframes pulseshow1{
		0%{-webkit-transform:scale(1)}
		50%{-webkit-transform:scale(1.2)}
		100%{-webkit-transform:scale(1)}
}
@-moz-keyframes pulseshow1{
		0%{-moz-transform:scale(1)}
		50%{-moz-transform:scale(1.2)}
		100%{-moz-transform:scale(1)}
}

.show1 > img{
	position:absolute;
	left:-5%;
	top:0;
	width:.5rem;
}
.show1ani{
    transition: all 3s linear;
	-moz-transition: all 3s linear;	
	-webkit-transition: all 3s linear;	
	-o-transition: all 3s linear;	
	position:absolute; 
	left:-5%;
}


.shakes{
	-webkit-animation:shake 0.2s infinite;
    animation:shake 0.2s infinite;
}

.show3 > img{
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	width:20%;
	margin:auto;
	opacity:.1;
}
.show3-1{
	-webkit-animation:pulse1 1s both infinite;
	-moz-animation:pulse1 1s both infinite;
}
.show3-2{
	-webkit-animation:pulse1 1s .3s both infinite;
	-moz-animation:pulse1 1s .3s both infinite;
}
.show3-3{
	-webkit-animation:pulse1 1s .6s both infinite;
	-moz-animation:pulse1 1s .6s both infinite;
}

.show3-4{
	-webkit-animation:pulse1 1s .9s both infinite;
	-moz-animation:pulse1 1s .9s both infinite;
}

@-webkit-keyframes pulse1{
		0%{-webkit-transform:scale(1);opacity:.1;}
		50%{-webkit-transform:scale(5);opacity:1;}
		99%{-webkit-transform:scale(8);opacity:1;}
		100%{-webkit-transform:scale(1);opacity:.1;}
}
@-moz-keyframes pulse1{
		0%{-webkit-transform:scale(1);opacity:.1;}
		50%{-webkit-transform:scale(5);opacity:1;}
		99%{-webkit-transform:scale(8);opacity:1;}
		100%{-webkit-transform:scale(1);opacity:.1;}
}

/* texiao */


@-webkit-keyframes shake {
    0%{
        -webkit-transform:translate(2px, 2px);
    }
    25%{
        -webkit-transform:translate(-2px, -2px);
    }
    50%{
        -webkit-transform:translate(0px, 0px);
    }
    75%{
        -webkit-transform:translate(2px, -2px);
    }
    100%{
        -webkit-transform:translate(-2px, 2px);
    }
}
@keyframes shake {
    0%{
        transform:translate(2px, 2px);
    }
    25%{
        transform:translate(-2px, -2px);
    }
    50%{
        transform:translate(0px, 0px);
    }
    75%{
        transform:translate(2px, -2px);
    }
    100%{
        transform:translate(-2px, 2px);
    }
}

