<form id="channelProduct_content_form" style="margin-left: auto; margin-bottom: 0px;" class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_name">名字</label> 
		<div class="col-xs-12 col-sm-8"><input class="form-control" type="text" name="channelProduct_name"
			id="channelProduct_name" placeholder="名字" autocomplete="off" value="<%= model.name %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_channel">渠道</label> 
		<div class="col-xs-12 col-sm-8">
		<input type="hidden" name="channelProduct_channel" id="channelProduct_channel" value="<%= model.channelId %>"/> 
		<input class="form-control" type="text" autocomplete="off" value="<%= model.channelName %>" readonly/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_misp">服务商</label> 
		<div class="col-xs-12 col-sm-8">
		<select class="form-control" name="channelProduct_misp" id="channelProduct_misp"> 
			<% _.each(misps, function(m) { %>
			<option value="<%= m.id %>"<% if (m.id == model.mispId) { %> selected <% } %> ><%= m.name %></option>
			<% }); %>
		</select></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_province">省份</label>
		<div class="col-xs-12 col-sm-8"> 
		<select class="form-control" name="channelProduct_province" id="channelProduct_province"> 
			<% _.each(provinces, function(p) { %>
			<option value="<%= p.id %>"<% if (p.id == model.provinceId) { %> selected <% } %> ><%= p.name %></option>
			<% }); %>
		</select></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_region">区域类型</label>
		<div class="col-xs-12 col-sm-8"> 
		<select class="form-control" name="channelProduct_region" id="channelProduct_region">
				<% _.each(_c.regionsMap, function(value, key) { %>
				<option value="<%= key %>" <% if (model.region == key) { %> selected <% } %>><%= value %></option>
				<% }); %>
		</select></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_size">Size</label>
		<div class="col-xs-12 col-sm-8"> 
		<input class="form-control" type="text"
			name="channelProduct_size" id="channelProduct_size" placeholder="size" autocomplete="off" value="<%= model.size %>"/></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_sizeUnit">大小单位</label> 
		<div class="col-xs-12 col-sm-8">
		<select class="form-control" name="channelProduct_sizeUnit" id="channelProduct_sizeUnit">
			<option value="MB"<% if (model.sizeUnit == 'MB') { %> selected <% } %>>MB</option>
			<option value="GB"<% if (model.sizeUnit == 'GB') { %> selected <% } %>>GB</option>
		</select></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_enabled">是否启用</label>
		<div class="col-xs-12 col-sm-8"> 
		<select class="form-control" name="channelProduct_enabled" id="channelProduct_enabled">
			<option value="true"<% if (model.enabled == true) { %> selected <% } %>>启用</option>
			<option value="false"<% if (model.enabled == false) { %> selected <% } %>>禁用</option>
		</select></div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2" for="channelProduct_desc">描述</label>
		<div class="col-xs-12 col-sm-8">
		<textarea class="form-control" name="channelProduct_desc" id="channelProduct_desc"><%= model.description %></textarea></div>
	</div>
</form>