<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width:600px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">渠道产品 <%= name %></h4>
			</div>
			<div class="modal-body" style="max-height:700px;">
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#channel-product-base-info" id="base-info-a" >基本信息</a></li>
						<li role="presentation"><a href="#channel-product-thirdparty-info" id="thirdparty-info-a" >第三方扩展</a></li>
					</ul>
					
					<!-- Tab panes -->
					<div class="tab-content scrollspy-example" style="max-height:518px;">
						<div role="tabpanel" class="tab-pane fade in active" id="channel-product-base-info">
							<div class="container-fluid" style="padding-top:20px"></div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="channel-product-thirdparty-info">
							<div class="container-fluid" style="padding-top:20px"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="save-btn">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="exit-btn">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>