<form id="channel_content_base_form" style="margin-left: auto; margin-bottom: 0px;" class="form-horizontal">
	<input id="channel_enabled" name="channel_enabled" type="hidden" value="<%= enabled %>" />
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_name">名字</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_name" name="channel_name" type="text" value="<%= name %>" placeholder="渠道名字" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_type">类型名字</label>
		<div class="col-xs-12 col-sm-8">
		<select class="form-control" name="channelProduct_misp" id="channel_type">
			<option value="shdhst" <% if (type == 'shdhst') { %> selected <% } %> >上海大汉三通</option>
			<option value="ahyt" <% if (type == 'ahyt') { %> selected <% } %> >安徽易拓</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_desc">描述</label>
		<div class="col-xs-12 col-sm-8">
			<textarea class="form-control" name="channel_desc" id="channel_desc" placeholder="描述信息"><%= description %></textarea>
		</div>
	</div>
	<div class="form-group has-warning">
		<label class="control-label col-xs-12 col-sm-3" for="channel_cfg_manually">是否人工处理</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_cfg_manually" name="channel_cfg_manually" type="checkbox" 
			placeholder="是否人工处理" autocomplete="off" <% if (config.manually == true) { %> checked<% } %>/>
		</div>
	</div>
	<div class="form-group has-warning">
		<label class="control-label col-xs-12 col-sm-3" for="channel_svname">服务名</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_svname" name="channel_svname" type="text" value="<%= channelServiceName %>" placeholder="由开发人员填写" autocomplete="off" />
		</div>
	</div>
	<div class="form-group has-warning">
		<label class="control-label col-xs-12 col-sm-3" for="channel_cfg_url">URL</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_cfg_url" name="channel_cfg_url" type="text" value="<%= config.serviceUrl %>" placeholder="渠道的服务地址" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_cfg_connto">连接超时</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_cfg_connto" name="channel_cfg_connto" type="text" value="<%= config.connTimeout %>" placeholder="连接超时" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_cfg_reqto">请求连接超时</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_cfg_reqto" name="channel_cfg_reqto" type="text" value="<%= config.reqTimeout %>" placeholder="请求连接超时" autocomplete="off" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-3" for="channel_cfg_sockto">获取数据超时</label>
		<div class="col-xs-12 col-sm-8">
		<input class="form-control" id="channel_cfg_sockto" name="channel_cfg_sockto" type="text" value="<%= config.socketTimeout %>" placeholder="获取数据超时" autocomplete="off" />
		</div>
	</div>
</form>