<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 1000px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">渠道产品</h4>
			</div>
			<div class="modal-body" style="max-height: 700px;">
				<div class="panel panel-primary main-panel" id="channel-product-p">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<div class="form-inline pull-right" id="filter-p">
									<input class="form-control" type="text" id="filter_name" placeholder="查询"/>
									<select class="form-control" id="filter_channel">
										<option value="">渠道</option>
									</select>
									<select class="form-control" id="filter_misp">
										<option value="">服务商</option>
									</select>
									<select class="form-control" id="filter_province">
										<option value="">省份</option>
									</select>
									<select class="form-control" id="filter_region">
										<option value="">区域类型</option>
										<% _.each(_c.regionsMap, function(value, key) { %>
										<option value="<%= key %>"><%= value %></option>
										<% }); %>
									</select>
									<select class="form-control" id="filter_enabled">
										<option value="">是否启用</option>
										<option value="true">启用</option>
										<option value="false">禁用</option>
									</select>
									<button id="query-bt" type='button' class='btn btn-success'>查询</button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body scrollspy-example" style="max-height:518px;"><div class="container-fluid"></div></div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="choose-bt">选中</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-btn">取消</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>