<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width:400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">选择渠道</h4>
			</div>
			<div class="modal-body" style="max-height:300px;">
				<form style="margin-left: auto;margin-bottom:0px;" class="form-horizontal">
						<div class="form-group">
						    <label class="control-label cos-xs-12 col-sm-3" for="channelId">渠道</label>
						    <div class="col-xs-12 col-sm-8">
						    <select class="form-control" name="channelId" id="channelId">
							</select></div>
						</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="choose-btn">选中</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-btn">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>