<div class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width:auto;max-width: 600px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><%= name %></h4>
			</div>
			<div class="modal-body" style="max-height: 600px;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="save-btn">保存</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" id="exit-btn">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>