<div class="row">
<div class="paging form-inline" style="margin-top:10px;">
	<div class="col-xs-12 col-sm-4" style="padding-left:2px;">
		<div class="form-group pull-left" style="margin-left: 5px; line-height: 35px" name="info_container">
			<span name="info_from">0</span> - <span name="info_to">0</span> , 共<span name="info_totalResultCount">0</span>条
		</div>
	</div>
	<div class="col-xs-12 col-sm-8" style="padding-right:2px;">
		<div class="pull-right form-group" name="paginator-container">
			<div class="form-group">
				<select name="paginator_select" class="form-control input-sm" style="min-width:12px;"></select>
			</div>
			<div class="pull-right form-group">	
				<ul class="form-control" name="paginator" ></ul>
			</div>
		</div>
	</div>
</div>
</div>